.user_links {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-column: 2/-1;
}

@media (max-width: 528px) {

    .m1 {
        margin-left: 1rem;
    }

    .user_links {
        grid-template-columns: auto;
        gap: 1rem;
        grid-column: 1/-1;
    }
}