nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 ;
}

.mode {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

h1 {
    font-size: 26px;
}