@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

:root {
    --body-bg-color: #141D2F;
    --main-bg-color: #1E2A47;
    --heading-color: #FFFFFF;
    --mode-color: #FFFFFF;
    --username-color: #0079ff;
    --stats-bg-color: #141D2F;
    --text-color: #FFFFFF;
    --grey-text-color: #FFFFFF;
    --btn-bg-color: #0079ff;
    --btn-hover-color: #60ABFF;
    --placeholder-color: #FFFFFF;
    --social-icon-color: #FFFFFF;
    --error-color: #f74646;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--body-bg-color);
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:550px){
    body {
        width: 420px;
    }
}

@media (max-width:435px){
    body {
        width: 370px;
    }
}

@media (max-width:385px){
    body {
        width: 330px;
    }
}
@media (max-width:345px){
    body {
        width: 290px;
    }
}